Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: local
    hooks:
      - id: require-dco-signoff
        name: Require DCO Signed-off-by in commit messages
        entry: scripts/check_dco_signoff.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
  - repo: local
    hooks:
      - id: zyra-generate-manifest
        name: Regenerate Zyra CLI capabilities manifest
        entry: poetry run zyra generate-manifest
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  - repo: local
    hooks:
      - id: zyra-update-openapi-snapshots
        name: Update OpenAPI snapshot (paths + SHA256)
        entry: bash scripts/update_openapi_snapshot.sh
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$

chore: code review fixes for pad_missing module
  src/zyra/processing/pad_missing.py
Due: none

chore: pulled the repeated prefix/suffix assignment logic into a single helper inside FramesCatalog.
  src/zyra/processing/pad_missing.py
Due: none

fix: Ensure proper handling of missing frame timestamps in pad_missing_frames function
  src/zyra/processing/pad_missing.py
Due: none

fix: Improve error message for missing Pillow dependency and refactor basemap resolution logic
  src/zyra/processing/pad_missing.py
  tests/processing/test_pad_missing.py
Due: none

Add new processing and transformation commands for geospatial data
  src/zyra/processing/__init__.py
  src/zyra/transform/README.md
  src/zyra/transform/__init__.py
  src/zyra/transform/geospatial.py
  src/zyra/transform/raster.py
  src/zyra/utils/cli_helpers.py
  src/zyra/utils/iso8601.py
  src/zyra/visualization/animate_manager.py
  src/zyra/visualization/cli_animate.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/overlays.py
  src/zyra/wizard/zyra_capabilities.json
  tests/misc/test_cli_smoke_streaming.py
  tests/transform/test_fire_transforms.py
  tests/transform/test_geotiff_cog.py
  tests/visualization/test_overlays.py
Due: zyra-generate-manifest

feat: Add video transcoding functionality with FFmpeg support and CLI integration
  .dockerignore
  .gitignore
  docs/source/api/zyra.processing.rst
  src/zyra/api/models/domain_api.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/README.md
  src/zyra/processing/__init__.py
  src/zyra/processing/video_transcode.py
  src/zyra/wizard/zyra_capabilities.json
  tests/processing/test_video_transcode.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: Update documentation, testing, and logic for video transcoding helpers
  src/zyra/processing/video_transcode.py
  tests/processing/test_video_transcode.py
Due: none

chore: Update tests for video transcoding functionality
  src/zyra/processing/video_transcode.py
  tests/processing/test_video_transcode.py
Due: none

feat: Refactor video transcoding to normalize extra arguments for FFmpeg
  src/zyra/processing/__init__.py
  src/zyra/processing/video_transcode.py
Due: zyra-generate-manifest

chore: Update video transcoding helpers for improved functionality and documentation
  src/zyra/processing/video_transcode.py
  tests/processing/test_video_transcode.py
Due: none

chore: Clean up video transcoding helper functions for better readability
  src/zyra/processing/video_transcode.py
Due: none

feat: Enhance CLI and API for credential handling
  src/zyra/api/mcp_tools/README.md
  src/zyra/api/mcp_tools/audio.py
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/mcp.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/ftp.py
  src/zyra/connectors/backends/http.py
  src/zyra/connectors/backends/vimeo.py
  src/zyra/connectors/clients.py
  src/zyra/connectors/credentials.py
  src/zyra/connectors/egress/README.md
  src/zyra/connectors/egress/__init__.py
  src/zyra/connectors/ingest/README.md
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  tests/api/test_domain_apis.py
  tests/api/test_mcp_api_fetch_security.py
  tests/api/test_mcp_download_audio_errors.py
  tests/api/test_mcp_download_audio_tool.py
  tests/cli/test_egress_credentials.py
  tests/cli/test_ingest_credentials.py
  tests/connectors/test_credentials_helper.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: Update credential resolution documentation for clarity and failed test
  src/zyra/connectors/credentials.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
Due: zyra-generate-manifest

chore: Update validation utilities for security
  src/zyra/connectors/openapi/validate.py
Due: none

chore: Refactor command functions for improved security
  src/zyra/connectors/ingest/__init__.py
Due: zyra-generate-manifest

chore: Add credential and credential_file parameters to namespace in test setup
  tests/connectors/test_acquire_api_auth.py
Due: none

chore: better sanitization of credentials
  src/zyra/connectors/ingest/__init__.py
Due: zyra-generate-manifest

chore: code review improvements
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/ftp.py
  src/zyra/connectors/credentials.py
  src/zyra/connectors/egress/__init__.py
  src/zyra/connectors/ingest/__init__.py
  tests/connectors/test_acquire_api_auth.py
  tests/connectors/test_ftp_backend.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: improve credential resolution documentation
  src/zyra/connectors/credentials.py
Due: none

chore: code review for credential resolution helpers
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/ftp.py
  src/zyra/connectors/credentials.py
Due: zyra-update-openapi-snapshots

chore: update tests for FTP backend credential handling
  tests/connectors/test_ftp_backend.py
Due: none

chore: refactor credential resolution helpers for improved clarity
  src/zyra/connectors/credentials.py
Due: none

chore: update domain argument schemas for code review
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/openapi/validate.py
Due: zyra-update-openapi-snapshots

refactor: optimize sensitive header handling and improve code clarity
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/connectors/openapi/validate.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

feat: added discovery to new credential workflow
  src/zyra/connectors/discovery/README.md
  src/zyra/connectors/discovery/__init__.py
  src/zyra/connectors/discovery/api_search.py
  src/zyra/wizard/zyra_capabilities.json
  tests/connectors/test_search_api.py
Due: zyra-generate-manifest

Add interactive globe infrastructure
  src/zyra/visualization/cli_globe.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/renderers/__init__.py
  src/zyra/visualization/renderers/base.py
  src/zyra/visualization/renderers/cesium_globe.py
  src/zyra/visualization/renderers/registry.py
  src/zyra/visualization/renderers/webgl_sphere.py
  tests/visualization/test_cli_commands.py
  tests/visualization/test_globe_renderers.py
Due: zyra-generate-manifest

Add probe data asset support
  src/zyra/visualization/cli_globe.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/renderers/cesium_globe.py
  src/zyra/visualization/renderers/webgl_sphere.py
  tests/visualization/test_cli_commands.py
  tests/visualization/test_globe_renderers.py
Due: zyra-generate-manifest

Add globe visualization capabilities and corresponding tests
  src/zyra/api/routers/cli.py
  src/zyra/api/workers/executor.py
  src/zyra/assets/samples/__init__.py
  src/zyra/assets/samples/age_of_seafloor_points.csv
  src/zyra/assets/samples/points.csv
  src/zyra/connectors/backends/vimeo.py
  src/zyra/visualization/README.md
  src/zyra/visualization/__init__.py
  src/zyra/visualization/cli_globe.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/renderers/cesium_globe.py
  src/zyra/visualization/renderers/frame_utils.py
  src/zyra/visualization/renderers/probe_utils.py
  src/zyra/visualization/renderers/video_utils.py
  src/zyra/visualization/renderers/webgl_sphere.py
  src/zyra/wizard/zyra_capabilities.json
  tests/visualization/test_cli_commands.py
  tests/visualization/test_globe_renderers.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

refactor: clean up probe dataset preparation and improve code organization
  src/zyra/visualization/renderers/probe_utils.py
  tests/visualization/test_cli_commands.py
  tests/visualization/test_globe_renderers.py
Due: none

Add new capabilities for verification and visualization
  pyproject.toml
  src/zyra/api/routers/manifest.py
  src/zyra/api/routers/mcp.py
  src/zyra/api/services/manifest.py
  src/zyra/cli.py
  src/zyra/core/__init__.py
  src/zyra/core/capabilities_loader.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/manifest.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  src/zyra/wizard/zyra_capabilities/decide.json
  src/zyra/wizard/zyra_capabilities/decimate.json
  src/zyra/wizard/zyra_capabilities/disseminate.json
  src/zyra/wizard/zyra_capabilities/export.json
  src/zyra/wizard/zyra_capabilities/import.json
  src/zyra/wizard/zyra_capabilities/narrate.json
  src/zyra/wizard/zyra_capabilities/optimize.json
  src/zyra/wizard/zyra_capabilities/process.json
  src/zyra/wizard/zyra_capabilities/render.json
  src/zyra/wizard/zyra_capabilities/run.json
  src/zyra/wizard/zyra_capabilities/search.json
  src/zyra/wizard/zyra_capabilities/simulate.json
  src/zyra/wizard/zyra_capabilities/transform.json
  src/zyra/wizard/zyra_capabilities/verify.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  src/zyra/wizard/zyra_capabilities/zyra_capabilities_index.json
  tests/api/test_manifest_required_positional.py
  tests/core/test_capabilities_loader.py
  tests/snapshots/openapi_paths.json
  tests/snapshots/openapi_sha256.txt
  tests/wizard/test_manifest_writer.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

feat: Enhance visualization capabilities and domain management
  docs/source/discovery.rst
  llm/README.md
  llm/actions/cli_manifest/README.md
  llm/actions/cli_manifest/openapi.yaml
  llm/open-webui/tools/zyra_cli_manifest.py
  llm/prompts/zyra_cli_manifest_chatgpt.md
  llm/prompts/zyra_cli_manifest_system.md
  llm/prompts/zyra_helper_bot_system.md
  llm/prompts/zyra_tools_system.md
  src/zyra/assets/llm/prompts/zyra_tools_system.md
  src/zyra/wizard/manifest.py
  src/zyra/wizard/zyra_capabilities/acquire.json
  src/zyra/wizard/zyra_capabilities/decide.json
  src/zyra/wizard/zyra_capabilities/decimate.json
  src/zyra/wizard/zyra_capabilities/disseminate.json
  src/zyra/wizard/zyra_capabilities/export.json
  src/zyra/wizard/zyra_capabilities/import.json
  src/zyra/wizard/zyra_capabilities/optimize.json
  src/zyra/wizard/zyra_capabilities/render.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  src/zyra/wizard/zyra_capabilities/zyra_capabilities_index.json
  tests/wizard/test_manifest_writer.py
Due: zyra-generate-manifest

chore: Update README for clarity and organization
  llm/open-webui/README.md
Due: none

chore: Clean up unused imports and improve code organization
  src/zyra/api/services/manifest.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/manifest.py
Due: zyra-generate-manifest

feat: (Phase 1) Add core swarm orchestration functionality and shared primitives
  src/zyra/narrate/__init__.py
  src/zyra/narrate/swarm.py
  src/zyra/swarm/__init__.py
  src/zyra/swarm/core.py
Due: none

chore: Clean up code structure and improve readability, fixed import error
  src/zyra/narrate/swarm.py
Due: none

feat: (Phase 2) Implement StageAgent and CLI stage execution agents with specifications
  src/zyra/swarm/__init__.py
  src/zyra/swarm/agents.py
  src/zyra/swarm/spec.py
Due: none

feat: (Phase 3) Add guardrails and provenance store functionality with associated tests
  src/zyra/narrate/__init__.py
  src/zyra/swarm/__init__.py
  src/zyra/swarm/core.py
  src/zyra/swarm/guardrails.py
  src/zyra/swarm/memory.py
  tests/swarm/test_guardrails_adapter.py
  tests/swarm/test_provenance_store.py
Due: none

feat: (Phase 4) Implement swarm orchestration with CLI integration and example manifest
  README.md
  samples/swarm/mock_basic.yaml
  src/zyra/api/models/cli_request.py
  src/zyra/api/routers/cli.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/api/workers/executor.py
  src/zyra/cli.py
  src/zyra/swarm/agents.py
  src/zyra/swarm/cli.py
  src/zyra/swarm/spec.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/narrate.json
  tests/snapshots/openapi_sha256.txt
  tests/swarm/test_swarm_cli.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: update fastapi dependency to version 0.121.2
  poetry.lock
  pyproject.toml
Due: none

fix: Update python-dotenv and fastapi dependencies to latest versions
  poetry.lock
  pyproject.toml
Due: none
