Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: local
    hooks:
      - id: require-dco-signoff
        name: Require DCO Signed-off-by in commit messages
        entry: scripts/check_dco_signoff.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
  - repo: local
    hooks:
      - id: zyra-generate-manifest
        name: Regenerate Zyra CLI capabilities manifest
        entry: poetry run zyra generate-manifest
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  - repo: local
    hooks:
      - id: zyra-update-openapi-snapshots
        name: Update OpenAPI snapshot (paths + SHA256)
        entry: bash scripts/update_openapi_snapshot.sh
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$

Gate the viewport tests behind the cartopy-heavy opt-in
  tests/visualization/test_view_extent.py
Due: none

Crop the viewport to --extent in heatmap/contour/vector managers
  src/zyra/visualization/contour_manager.py
  src/zyra/visualization/heatmap_manager.py
  src/zyra/visualization/styles.py
  src/zyra/visualization/vector_field_manager.py
  src/zyra/visualization/vector_particles_manager.py
  tests/visualization/test_view_extent.py
Due: none

Add --unsigned flag to extract-variable parser
  src/zyra/processing/__init__.py
  tests/misc/test_read_bytes_any.py
Due: zyra-generate-manifest

Wire the URL/idx-aware reader into process GRIB handlers
  src/zyra/cli.py
  src/zyra/processing/__init__.py
  src/zyra/processing/grib_utils.py
  src/zyra/utils/io_utils.py
  tests/misc/test_read_bytes_any.py
Due: zyra-generate-manifest

Harden read_bytes_any and fix logging scope in cmd_convert_format
  src/zyra/processing/__init__.py
  src/zyra/utils/io_utils.py
  tests/misc/test_read_bytes_any.py
Due: zyra-generate-manifest

Never fabricate conversion output; fix the real HRRR NetCDF failure
  src/zyra/processing/grib_utils.py
  tests/misc/test_cli_smoke_streaming.py
  tests/processing/test_convert_no_fabrication.py
Due: none

Address review: close retry dataset, plain io import, regex guard, stdout-empty assertions
  src/zyra/processing/grib_utils.py
  tests/misc/test_cli_smoke_streaming.py
  tests/processing/test_convert_no_fabrication.py
Due: none

Address review: temp-file NetCDF round-trip, surface wgrib2 fallback errors
  src/zyra/processing/grib_utils.py
  tests/misc/test_cli_smoke_streaming.py
  tests/processing/test_convert_no_fabrication.py
Due: none

Address review: consolidate registrars, ValueError exits 2
  src/zyra/visualization/__init__.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  tests/visualization/test_geotiff_input.py
Due: none

Address review: band=0 range error, complete suffix lists, contour API parity
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/contour_manager.py
  src/zyra/visualization/heatmap_manager.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_geotiff_input.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Accept GeoTIFF input in visualize heatmap/contour
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_utils.py
  src/zyra/visualization/contour_manager.py
  src/zyra/visualization/heatmap_manager.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_geotiff_input.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Add THREDDS catalog connector to the acquire stage
  samples/pipelines/thredds_to_local.yaml
  src/zyra/api/models/domain_api.py
  src/zyra/api/routers/domain_acquire.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/thredds.py
  src/zyra/connectors/ingest/README.md
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  tests/cli/test_acquire_thredds.py
  tests/connectors/test_thredds_backend.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

fix(thredds): handle absolute fileServer base; minor CLI/doc cleanups
  src/zyra/connectors/backends/thredds.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  tests/connectors/test_thredds_backend.py
Due: zyra-generate-manifest

fix(thredds): de-duplicate enumerated datasets by resolved download URL
  src/zyra/connectors/backends/thredds.py
  tests/connectors/test_thredds_backend.py
Due: none

fix(thredds): don't re-download on unknown size with --recheck-existing
  src/zyra/connectors/backends/thredds.py
  tests/connectors/test_thredds_backend.py
Due: none

Address review: auth/credential parity for acquire thredds
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  tests/connectors/test_thredds_backend.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Regenerate OpenAPI snapshot after rebase onto current staging
  tests/snapshots/openapi_sha256.txt
Due: none

Refresh OpenAPI snapshot after rebase onto current mirror/staging
  tests/snapshots/openapi_sha256.txt
Due: none

Add palette files (--cmap-file) and standalone legend export (--legend-file)
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_utils.py
  src/zyra/visualization/contour_manager.py
  src/zyra/visualization/heatmap_manager.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_palette_legend.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Address review: palette edge validation, backend guard, levels sentinel, API parity
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_utils.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_palette_legend.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Address review: unfilled-contour palettes, bound coercion, legend scale contract
  src/zyra/visualization/cli_utils.py
  src/zyra/visualization/contour_manager.py
  tests/visualization/test_palette_legend.py
Due: none

fix(visualize): align sos --extent with Domain API list expansion
  src/zyra/visualization/cli_sos.py
  src/zyra/visualization/cli_utils.py
  tests/visualization/test_extent_flags.py
Due: none

build(deps): bump vulnerable transitive deps to clear Dependabot Critical/High alerts
  poetry.lock
Due: none

fix(deps): bump fastapi/starlette to clear starlette HIGH CVEs (trivy)
  poetry.lock
  pyproject.toml
  tests/snapshots/openapi_sha256.txt
Due: none

Do not set PROJ_LIB unconditionally in the zyra image
  docker/zyra/Dockerfile
Due: none

Add batch mode to process reproject (--inputs / --output-dir)
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/processing/test_raster_reproject.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Reject mixed single/batch flag combinations in reproject
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  tests/processing/test_raster_reproject.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Correct the --input comment and drop an unused test fixture
  src/zyra/visualization/cli_register.py
  tests/visualization/test_geotiff_input.py
Due: zyra-generate-manifest

Make visualize heatmap batch mode reachable (--input not required)
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/visualization/test_geotiff_input.py
Due: zyra-generate-manifest

Accept an http(s)/s3 URL for --cmap-file
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_utils.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_palette_legend.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Stop batch --inputs from dropping all but the last input
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/processing/__init__.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_sos.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/cli/test_batch_inputs_extend.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Make batch --output-dir errors exit 2, and reject an empty inputs list
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  tests/cli/test_batch_inputs_extend.py
Due: zyra-update-openapi-snapshots

Give animate, vector, and sos the same exit-code contract
  src/zyra/visualization/cli_animate.py
  src/zyra/visualization/cli_sos.py
  src/zyra/visualization/cli_vector.py
  tests/cli/test_batch_inputs_extend.py
  tests/visualization/test_sos.py
Due: none

Narrow cli_vector's handler docstring to what it actually does
  src/zyra/visualization/cli_vector.py
  tests/cli/test_batch_inputs_extend.py
Due: none

Correct a stale test comment and broaden the module docstring
  tests/cli/test_batch_inputs_extend.py
Due: none

Address review: absolute hooks path, correct docs reference
  .claude/hooks/session-start.sh
Due: none

Install the DCO commit-msg hook on session start
  .claude/hooks/session-start.sh
  .claude/settings.json
  AGENTS.md
Due: none

Resolve the retry sleep/rand defaults at call time
  src/zyra/connectors/backends/_retry.py
  tests/connectors/test_http_retry.py
Due: none
