Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

zyra-generate-manifest:
  name: Regenerate Zyra CLI capabilities manifest
  entry: poetry run zyra generate-manifest
  language: system
  pass_filenames: false
  stages:
  - commit

zyra-update-openapi-snapshots:
  name: Update OpenAPI snapshot (paths + SHA256)
  entry: bash scripts/update_openapi_snapshot.sh
  language: system
  pass_filenames: false
  stages:
  - commit

chore: linting fixes
  src/zyra/api/routers/cli.py
  src/zyra/api/routers/domain_decide.py
  src/zyra/api/routers/domain_disseminate.py
  tests/api/test_domain_disseminate_aliases.py
Due: zyra-update-openapi-snapshots

refactor: update terminology from 'decimate' to 'disseminate' across CLI and API components, code review fixes
  src/zyra/api/routers/cli.py
  src/zyra/api/routers/domain_disseminate.py
  src/zyra/api/utils/assets.py
  src/zyra/cli.py
  src/zyra/pipeline_runner.py
  src/zyra/wizard/manifest.py
  src/zyra/wizard/zyra_capabilities.json
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: fixed the regressions and preserved decimate as a working alias while keeping disseminate/export preferred
  src/zyra/api/routers/cli.py
  src/zyra/cli.py
  src/zyra/pipeline_runner.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: linting
  src/zyra/cli.py
Due: zyra-generate-manifest

chore: update documentation for domain API endpoints and clarify aliases, code review fixes
  src/zyra/api/routers/cli.py
  src/zyra/api/routers/domain_disseminate.py
  src/zyra/api/utils/assets.py
  src/zyra/cli.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

refactor: update deprecation messages and enhance group registration for CLI commands
  src/zyra/cli.py
  src/zyra/pipeline_runner.py
  src/zyra/wizard/manifest.py
Due: zyra-generate-manifest

refactor: update TODO comment to track migration of canonical stage to 'disseminate'
  src/zyra/api/routers/domain_disseminate.py
Due: zyra-update-openapi-snapshots

ci: bump version
  pyproject.toml
Due: none

refactor: centralize egress stage checks and update deprecation warnings to use warnings module
  src/zyra/api/utils/assets.py
  src/zyra/cli.py
Due: zyra-generate-manifest

chore: update documentation for CLI entrypoint and command wiring
  src/zyra/cli.py
  src/zyra/wizard/manifest.py
Due: zyra-generate-manifest

Refactor ingress configuration for zyra API
  ingress/networking.yaml
Due: none

Added API_ROOT_PATH to allow for optional subdirectories in API setup.
  src/zyra/api/server.py
Due: none

Update server.py
  src/zyra/api/server.py
Due: none

refactor: Improve method definitions in Protocols for better readability, removed redundent DCO check.
  .github/workflows/dco.yml
Due: none

chore: linting
  poetry.lock
  pyproject.toml
Due: none

refactor: Simplify kwargs.get calls by removing default None values in visualization managers
  src/zyra/visualization/animate_manager.py
  src/zyra/visualization/contour_manager.py
  src/zyra/visualization/heatmap_manager.py
  src/zyra/visualization/plot_manager.py
  src/zyra/visualization/vector_field_manager.py
  src/zyra/visualization/vector_particles_manager.py
Due: none

fix: Correct option limit check in _select_relevant_details function
  src/zyra/wizard/__init__.py
Due: none

ci: update bump version workflow for DCO compatability
  .github/workflows/bump-version.yaml
Due: none

chore(docs): sync wiki into docs/source/wiki updated to work with DCO
  .github/workflows/sync-wiki.yml
Due: none

Updating documentation to match wiki update
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

chore(docs): sync wiki into docs/source/wiki with DCO sign-off
  .github/workflows/sync-wiki.yml
Due: none

feat: enhance OpenAPI operation matching with suffix fallback logic
  src/zyra/connectors/openapi/validate.py
  tests/api/conftest.py
Due: none

chore(tests): optimize test fixtures for improved performance
  src/zyra/api/routers/api_generic.py
  tests/api/conftest.py
Due: zyra-update-openapi-snapshots

Refactor processing CLI to lazy-load GRIB dependencies and improve error handling
  src/zyra/api/routers/api_generic.py
  src/zyra/api/routers/ws.py
  src/zyra/api/server.py
  src/zyra/api/workers/executor.py
  src/zyra/connectors/openapi/validate.py
  src/zyra/processing/__init__.py
  tests/api/test_mcp_router.py
  tests/cli/test_cli_aliases.py
  tests/connectors/test_acquire_api_auth.py
  tests/connectors/test_acquire_api_openapi.py
  tests/connectors/test_acquire_api_stream.py
  tests/connectors/test_api_backend.py
  tests/connectors/test_api_backend_retry.py
  tests/connectors/test_openapi_validate_helpers.py
  tests/misc/test_wait_for_pypi_validation.py
  tests/processing/test_audio_metadata.py
  tests/processing/test_audio_transcode.py
  tests/processing/test_processing_api_json.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

fix: register MCP adapter routes unconditionally for stable OpenAPI
  src/zyra/api/routers/mcp.py
  src/zyra/api/server.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-update-openapi-snapshots

chore: remove unused imports and clean up code structure
  src/zyra/api/routers/mcp.py
  src/zyra/connectors/openapi/validate.py
  src/zyra/processing/__init__.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: update documentation and clean up code structure
  src/zyra/api/routers/api_generic.py
  src/zyra/api/workers/executor.py
  src/zyra/connectors/backends/api.py
  src/zyra/processing/__init__.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

feat: enhance OpenAPI support with explicit URL option and improve documentation examples
  src/zyra/api/README.md
  src/zyra/connectors/discovery/api_search.py
  src/zyra/connectors/ingest/README.md
  src/zyra/connectors/ingest/__init__.py
  src/zyra/connectors/openapi/validate.py
  src/zyra/processing/README.md
  src/zyra/processing/__init__.py
  src/zyra/wizard/zyra_capabilities.json
Due: zyra-generate-manifest

chore: clean up code structure and remove unused imports
  src/zyra/api/mcp_tools/audio.py
  src/zyra/connectors/backends/api.py
  src/zyra/connectors/discovery/api_search.py
Due: none

chore: clean up code structure and remove unused imports
  src/zyra/connectors/discovery/api_search.py
Due: none

feat: add ISO-8601 helpers for datetime and duration parsing
  src/zyra/api/mcp_tools/audio.py
  src/zyra/api/routers/api_generic.py
  src/zyra/connectors/discovery/api_search.py
  src/zyra/connectors/ingest/__init__.py
  src/zyra/utils/iso8601.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

chore: clean up code structure and remove unused imports
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

Implement SSRF hardening and output directory validation in MCP tools
  src/zyra/api/mcp_tools/audio.py
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/api_generic.py
  src/zyra/api/routers/mcp.py
  src/zyra/connectors/backends/api.py
  src/zyra/connectors/openapi/validate.py
  tests/api/test_api_generic_ssrf.py
  tests/api/test_mcp_api_fetch_security.py
  tests/api/test_mcp_integration.py
  tests/connectors/test_backend_api_ssrf.py
Due: zyra-update-openapi-snapshots

feat: enhance host validation to exclude example domains from IP checks
  src/zyra/connectors/backends/api.py
Due: none

feat: allow example domains for testing in acquire_api endpoint
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

feat: add path injection sanitizers and enhance URL validation in MCP tools
  .github/codeql/python-models/models.yml
  .github/codeql/python-models/qlpack.yml
  src/zyra/api/mcp_tools/audio.py
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/api_generic.py
  src/zyra/connectors/backends/api.py
Due: zyra-update-openapi-snapshots

Path conditions:
  zyra-generate-manifest: any of: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  zyra-update-openapi-snapshots: any of: ^(src/zyra/api/(routers/.+|server\.py|models/.+|schemas/.+)\.py|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$
