Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: local
    hooks:
      - id: require-dco-signoff
        name: Require DCO Signed-off-by in commit messages
        entry: scripts/check_dco_signoff.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
  - repo: local
    hooks:
      - id: zyra-generate-manifest
        name: Regenerate Zyra CLI capabilities manifest
        entry: poetry run zyra generate-manifest
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  - repo: local
    hooks:
      - id: zyra-update-openapi-snapshots
        name: Update OpenAPI snapshot (paths + SHA256)
        entry: bash scripts/update_openapi_snapshot.sh
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$

Back off and retry throttled HTTP fetches
  src/zyra/connectors/backends/_retry.py
  src/zyra/connectors/backends/http.py
  tests/connectors/test_connectors_extended.py
  tests/connectors/test_http_retry.py
Due: none

Stop retrying a refused connection
  src/zyra/connectors/backends/_retry.py
  tests/connectors/test_http_retry.py
  tests/visualization/test_palette_legend.py
Due: none

Address review: reject silent no-ops, paths, and overwrites
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  src/zyra/utils/cli_helpers.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  tests/cli/test_batch_output_names.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Add --output-names so batch frames can carry their valid time
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  src/zyra/utils/cli_helpers.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/cli/test_batch_output_names.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Floor max_attempts at 1, and stop overclaiming API/CLI parity
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/http.py
  tests/cli/test_batch_output_names.py
  tests/connectors/test_http_retry.py
Due: zyra-update-openapi-snapshots

Load GeoTIFF input south-up so heatmap/contour stop mirroring it
  src/zyra/visualization/cli_utils.py
  tests/visualization/test_geotiff_input.py
Due: none

Flip with a view instead of a copy
  src/zyra/visualization/cli_utils.py
Due: none

Place the basemap image at its own extent, not the viewport
  src/zyra/visualization/basemap.py
  tests/visualization/test_basemap_extent.py
Due: none

Validate --extent latitudes and name the other flag's ordering
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_sos.py
  src/zyra/visualization/cli_utils.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/visualization/test_extent_flags.py
Due: zyra-generate-manifest

Keep notebook-session tests out of the working tree
  tests/notebook/conftest.py
Due: none

Name the real class in the conftest docstring
  tests/notebook/conftest.py
Due: none

Add a value-exact luma write path for data-encoded video
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/luma_writer.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_luma_writer.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Skip the palette sidecar tests when matplotlib is absent
  tests/visualization/test_luma_writer.py
Due: none

Drop the unused binding from the PIL importorskip
  tests/visualization/test_luma_writer.py
Due: none

Branch to the data-encoded path before the picture path's cmap rules
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/luma_writer.py
  tests/visualization/test_luma_writer.py
Due: none

Refuse the figure-canvas flags in data-encoded mode
  src/zyra/api/schemas/domain_args.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/luma_writer.py
  tests/visualization/test_luma_writer.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Guard the host allowlist on redirects, and compare hostname not netloc
  scripts/wait_for_pypi.py
  tests/misc/test_wait_for_pypi_validation.py
Due: none

Wait for the PyPI file, not just the index listing
  scripts/wait_for_pypi.py
  tests/misc/test_wait_for_pypi_validation.py
Due: none

Revert a drive-by reformat of an untouched assert
  tests/visualization/test_geotiff_input.py
Due: none

Write data-encoded frames north-up
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_utils.py
  tests/visualization/test_geotiff_input.py
Due: none

Document the all-files PyPI contract, and test it through the aggregate
  scripts/wait_for_pypi.py
  src/zyra/visualization/cli_utils.py
  tests/misc/test_wait_for_pypi_validation.py
Due: none

Retry the zyra install inside the build, where BuildKit's edge is
  docker/zyra-scheduler/Dockerfile
  docker/zyra/Dockerfile
Due: none

test(schema): cover drift, aliases, positionals, and sample validation
  scripts/generate_pipeline_docs.py
  tests/test_pipeline_schema.py
Due: none

feat(schema): publish JSON Schema for zyra run configs
  .pre-commit-config.yaml
  src/zyra/assets/schemas/zyra-pipeline.schema.json
Due: none

style: apply ruff-format to test_pipeline_schema.py
  tests/test_pipeline_schema.py
Due: none

feat(schema): add generator, tables, and tests for the run-config schema
  scripts/generate_pipeline_schema.py
  src/zyra/pipeline_schema.py
Due: none

Georeference every RRFS grid type, not just regular_ll and lambert
  src/zyra/processing/grib_utils.py
  tests/processing/test_grib_georeference.py
Due: none

Bump vulnerable dependencies flagged by Dependabot
  poetry.lock
  pyproject.toml
Due: none

Make the guardrails install hint aware of the Python <3.15 cap
  README.md
  src/zyra/swarm/guardrails.py
  src/zyra/swarm/planner.py
  tests/swarm/test_guardrails_adapter.py
Due: none
