Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

zyra-generate-manifest:
  name: Regenerate Zyra CLI capabilities manifest
  entry: poetry run zyra generate-manifest
  language: system
  pass_filenames: false
  stages:
  - commit

zyra-update-openapi-snapshots:
  name: Update OpenAPI snapshot (paths + SHA256)
  entry: bash scripts/update_openapi_snapshot.sh
  language: system
  pass_filenames: false
  stages:
  - commit

fix(executor): replace broken _normalize_args with flag-name override
  src/zyra/api/workers/executor.py
Due: none

test(search): cover flag_overrides and align regression test with schema
  tests/api/test_cli_run_search_stage.py
  tests/cli/test_api_args.py
Due: none

fix(cli): use isinstance for subparsers detection and document API scope
  src/zyra/api/routers/cli.py
Due: zyra-update-openapi-snapshots

fix(api_search): extract name from nested dict instead of repr-stringifying (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): address Copilot review on _extract_name (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): align docstring with implementation and test desc/link (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): add URL-like keys to _extract_name and href to link lookup (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): add label key to _extract_name drill-down (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): recurse into nested dicts in _extract_name (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): support Mapping types and skip unresolvable nested dicts (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(api_search): iterate candidate fields in _normalize_item (#265)
  src/zyra/connectors/discovery/api_search.py
  tests/connectors/test_search_api.py
Due: none

fix(deps): update transitive dependencies for 4 Dependabot security alerts
  poetry.lock
Due: none

fix(deps): address 19 Dependabot security alerts
  .github/workflows/manual-release.yml
  .github/workflows/release-images.yml
  .github/workflows/scan-images-only.yml
  poetry.lock
Due: none

fix(ci): pin trivy-action to commit SHA for supply-chain hardening
  .github/workflows/manual-release.yml
  .github/workflows/release-images.yml
  .github/workflows/scan-images-only.yml
Due: none

fix(deps): address 12 Dependabot security alerts
  poetry.lock
  pyproject.toml
Due: none

Enhance CONTRIBUTING.md with new guidelines and clarity
  CONTRIBUTING.md
Due: none

fix(ci): unbreak lint/test by decoupling optional guardrails extra
  .github/workflows/test.yaml
Due: none

fix(ci): make test-guardrails job render green by moving continue-on-error to step level
  .github/workflows/test.yaml
Due: none

Add THREDDS catalog connector to the acquire stage
  samples/pipelines/thredds_to_local.yaml
  src/zyra/api/models/domain_api.py
  src/zyra/api/routers/domain_acquire.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/connectors/backends/thredds.py
  src/zyra/connectors/ingest/README.md
  src/zyra/connectors/ingest/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  tests/cli/test_acquire_thredds.py
  tests/connectors/test_thredds_backend.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Address review: add empty-list argv regression test
  tests/misc/test_pipeline_runner.py
Due: none

Add visualize sos CLI command and heatmap vmin/vmax
  samples/pipelines/sos_fv3chem_frames.yaml
  src/zyra/pipeline_runner.py
  src/zyra/visualization/__init__.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_sos.py
  src/zyra/visualization/cli_utils.py
  src/zyra/visualization/plot_manager.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/misc/test_pipeline_runner.py
  tests/visualization/test_cli_commands.py
  tests/visualization/test_sos.py
Due: zyra-generate-manifest

Address review: omit empty list args in pipeline argv builder
  src/zyra/pipeline_runner.py
Due: none

Address review: SOS render-failure exit codes and stronger fixed-scale test
  src/zyra/visualization/cli_sos.py
  tests/visualization/test_sos.py
Due: none

Address review: quote paths, honor fps=0, avoid guard leak, harden e2e test
  src/zyra/processing/video_processor.py
  src/zyra/visualization/cli_compose_video.py
  tests/processing/test_unit_video_processor.py
  tests/visualization/test_compose_video.py
Due: none

Address review round 2: shlex-quote input pattern, validate API preset/size
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/video_processor.py
  tests/api/test_domain_schemas_validation.py
Due: zyra-update-openapi-snapshots

Add --preset sos to visualize compose-video
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/video_processor.py
  src/zyra/visualization/README.md
  src/zyra/visualization/cli_compose_video.py
  src/zyra/visualization/cli_register.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/processing/test_unit_video_processor.py
  tests/snapshots/openapi_sha256.txt
  tests/visualization/test_compose_video.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Accept API list expansion for bounds flags; case-insensitive auto
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  tests/processing/test_raster_reproject.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Validate non-4326 target requires dst_bounds at the API layer; drop unused constant
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/raster_reproject.py
  tests/api/test_domain_schemas_validation.py
Due: zyra-update-openapi-snapshots

Add --dst-bounds auto: regional sources crop to their own footprint
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/README.md
  src/zyra/processing/__init__.py
  src/zyra/processing/raster_reproject.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  tests/api/test_domain_schemas_validation.py
  tests/processing/test_raster_reproject.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Read source bands one at a time in reproject
  src/zyra/processing/raster_reproject.py
Due: none

Add process reproject: warp pre-rendered rasters to EPSG:4326
  src/zyra/api/models/domain_api.py
  src/zyra/api/routers/domain_process.py
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/README.md
  src/zyra/processing/__init__.py
  src/zyra/processing/raster_reproject.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  tests/api/test_domain_schemas_validation.py
  tests/processing/test_raster_reproject.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Numeric SystemExit and shared DEFAULT_EXTENT in resolve_extent
  src/zyra/visualization/cli_utils.py
  tests/visualization/test_extent_flags.py
Due: none

Fix --extent parsing for Domain API list expansion across visualize commands
  src/zyra/visualization/cli_animate.py
  src/zyra/visualization/cli_contour.py
  src/zyra/visualization/cli_heatmap.py
  src/zyra/visualization/cli_interactive.py
  src/zyra/visualization/cli_register.py
  src/zyra/visualization/cli_utils.py
  src/zyra/visualization/cli_vector.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/visualization/test_extent_flags.py
Due: zyra-generate-manifest

Mirror CPython exit semantics for non-int SystemExit codes in run_cli
  src/zyra/api/workers/executor.py
  tests/api/test_executor_systemexit.py
Due: none

Add future annotations import to match tests/api convention
  tests/api/test_executor_systemexit.py
Due: none

Drop unused rasterio bindings (PR #254 review)
  src/zyra/processing/grib_utils.py
  tests/processing/test_grib_georeference.py
Due: none

Carry georeferencing into GeoTIFF conversion from GRIB grid metadata
  src/zyra/processing/grib_utils.py
  tests/processing/test_grib_georeference.py
Due: none

Add nodata handling to process reproject
  src/zyra/api/schemas/domain_args.py
  src/zyra/processing/__init__.py
  src/zyra/processing/raster_reproject.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/process.json
  tests/processing/test_raster_reproject.py
  tests/snapshots/openapi_sha256.txt
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Range-check integer dst_nodata; assert the NaN nodata tag in tests
  src/zyra/processing/raster_reproject.py
  tests/processing/test_raster_reproject.py
Due: none

Keep heavy imports out of collection scope in view-extent tests
  tests/visualization/test_view_extent.py
Due: none

Path conditions:
  zyra-generate-manifest: any of: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  zyra-update-openapi-snapshots: any of: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$
