Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: local
    hooks:
      - id: require-dco-signoff
        name: Require DCO Signed-off-by in commit messages
        entry: scripts/check_dco_signoff.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
  - repo: local
    hooks:
      - id: zyra-generate-manifest
        name: Regenerate Zyra CLI capabilities manifest
        entry: poetry run zyra generate-manifest
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  - repo: local
    hooks:
      - id: zyra-update-openapi-snapshots
        name: Update OpenAPI snapshot (paths + SHA256)
        entry: bash scripts/update_openapi_snapshot.sh
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$

chore: Update dependency versions in pyproject.toml for improved compatibility
  poetry.lock
  pyproject.toml
Due: none

feat: (Phase 5) Enhance swarm CLI with logging and memory inspection features
  README.md
  samples/swarm/drought_animation.yaml
  src/zyra/swarm/cli.py
  tests/swarm/test_swarm_cli.py
Due: none

feat: (Phase 6 WIP) Add value engine for suggesting augmentations and related tests
  README.md
  docs/source/wiki/Workflow-Stages.md
  src/zyra/cli.py
  src/zyra/swarm/__init__.py
  src/zyra/swarm/planner.py
  src/zyra/swarm/value_engine.py
  tests/swarm/test_planner.py
  tests/swarm/test_swarm_planner_llm.py
Due: zyra-generate-manifest

feat: (Phase 6 WIP) Implement tool proposal generation and validation
  src/zyra/connectors/backends/ftp.py
  src/zyra/pipeline_runner.py
  src/zyra/swarm/agents.py
  src/zyra/swarm/cli.py
  src/zyra/swarm/core.py
  src/zyra/swarm/planner.py
  src/zyra/swarm/proposals.py
  src/zyra/swarm/proposals_schema.py
  tests/swarm/proposal.db
  tests/swarm/test_planner.py
  tests/swarm/test_proposal_stage_agent.py
  tests/swarm/test_proposals.py
  tests/swarm/test_swarm_cli.py
  tests/testprov.db
Due: none

feat: (Phase 6) Enhance value engine with semantic classification and frame analysis
  .github/workflows/test.yaml
  README.md
  docs/source/wiki/Install-Extras.md
  poetry.lock
  pyproject.toml
  samples/swarm/simulate_decide.yaml
  src/zyra/narrate/swarm.py
  src/zyra/pipeline_runner.py
  src/zyra/swarm/agents.py
  src/zyra/swarm/classifier.py
  src/zyra/swarm/cli.py
  src/zyra/swarm/core.py
  src/zyra/swarm/planner.py
  src/zyra/swarm/value_engine.py
  src/zyra/transform/__init__.py
  src/zyra/verify/__init__.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/verify.json
  tests/narrate/test_swarm_frames.py
  tests/pipeline/test_run_cli_stdout_capture.py
  tests/processing/test_pad_missing.py
  tests/swarm/test_classifier.py
  tests/swarm/test_guardrails_extra.py
  tests/swarm/test_planner.py
  tests/swarm/test_proposal_stage_agent.py
  tests/swarm/test_swarm_cli.py
  tests/swarm/test_value_engine.py
  tests/swarm/test_verify_capture.py
  tests/verify/test_evaluate.py
Due: zyra-generate-manifest

chore: Refactor guardrails adapter for improved error handling and clarity (fixed failed test)
  src/zyra/swarm/guardrails.py
Due: none

Signed-off-by: Eric Hackathorn <erichackathorn@gmail.com>
  tests/swarm/test_guardrails_extra.py
Due: none

test: Add validation test for GuardrailsAdapter with schema
  tests/swarm/test_guardrails_extra.py
Due: none

test: Add additional validation for GuardrailsAdapter
  tests/swarm/test_guardrails_extra.py
Due: none

test: Add validation for GuardrailsAdapter in test_guardrails_extra.py
  tests/swarm/test_guardrails_extra.py
Due: none

chore: Update GuardrailsAdapter for improved validation logic
  src/zyra/swarm/guardrails.py
Due: none

test: Add validation tests for proposals schema and core functionality (code review cleanup)
  src/zyra/swarm/core.py
  src/zyra/swarm/proposals_schema.py
  tests/swarm/test_planner.py
  tests/swarm/test_swarm_planner_llm.py
Due: none

chore: Refactor planner entrypoint for improved clarity and maintainability, removed duplicate functions as part of a code review
  src/zyra/swarm/planner.py
  src/zyra/swarm/proposals.py
Due: none

feat: Add support for Gemini LLM provider with detailed configuration and error handling, consilidated LLM providers into a single code path
  README.md
  llm/README.md
  poetry.lock
  pyproject.toml
  src/zyra/api/schemas/domain_args.py
  src/zyra/api/server.py
  src/zyra/narrate/README.md
  src/zyra/narrate/__init__.py
  src/zyra/swarm/cli.py
  src/zyra/swarm/planner.py
  src/zyra/swarm/value_engine.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/llm_client.py
  tests/swarm/test_planner.py
  tests/wizard/test_llm_client_errors.py
Due: zyra-update-openapi-snapshots

chore: Update code structure for improved organization and maintainability, sanitizing output to prevent exposed secrets via CodeQL
  src/zyra/connectors/discovery/__init__.py
  src/zyra/swarm/planner.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/llm_client.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/narrate.json
Due: zyra-generate-manifest

chore: code review fixes for weird imports and missing error messages
  src/zyra/connectors/discovery/__init__.py
  src/zyra/wizard/llm_client.py
Due: zyra-generate-manifest

chore: clean up unused imports and improve code readability across multiple files, code review fixes
  src/zyra/api/schemas/domain_args.py
  src/zyra/narrate/__init__.py
  src/zyra/swarm/cli.py
  src/zyra/wizard/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/narrate.json
Due: zyra-update-openapi-snapshots

chore: replace _redact with _friendly_redact in verbose logging for improved message safety, other code review fixes
  src/zyra/api/server.py
  src/zyra/connectors/discovery/__init__.py
  src/zyra/swarm/planner.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

docs: Add Swarm Orchestration section with usage examples and command details
  README.md
Due: none

test: Add tests for Gemini provider fallback and connectivity
  tests/wizard/test_select_provider.py
Due: none

docs: Update README to remove duplicate Swarm section
  README.md
Due: none

chore: Refactor code structure for improved readability and maintainability, code review fixes
  src/zyra/swarm/planner.py
  src/zyra/wizard/llm_client.py
  tests/wizard/test_llm_client_errors.py
Due: none

Implement notebook session framework with tool registration and provenance logging
  samples/drought_notebook_walkthrough.ipynb
  src/zyra/narrate/__init__.py
  src/zyra/notebook/README.md
  src/zyra/notebook/__init__.py
  src/zyra/notebook/registry.py
  src/zyra/processing/__init__.py
  src/zyra/wizard/manifest.py
  src/zyra/wizard/zyra_capabilities.json
  src/zyra/wizard/zyra_capabilities/acquire.json
  src/zyra/wizard/zyra_capabilities/decide.json
  src/zyra/wizard/zyra_capabilities/disseminate.json
  src/zyra/wizard/zyra_capabilities/narrate.json
  src/zyra/wizard/zyra_capabilities/process.json
  src/zyra/wizard/zyra_capabilities/run.json
  src/zyra/wizard/zyra_capabilities/search.json
  src/zyra/wizard/zyra_capabilities/simulate.json
  src/zyra/wizard/zyra_capabilities/transform.json
  src/zyra/wizard/zyra_capabilities/verify.json
  src/zyra/wizard/zyra_capabilities/visualize.json
  tests/cli/test_manifest_smoke.py
  tests/notebook/test_registry.py
Due: zyra-generate-manifest

chore: Update registry.py for improved structure and clarity and fix a failing test. The default workdir is stripped from recorded kwargs.
  src/zyra/notebook/registry.py
Due: none

Refactor narration prompts and enhance notebook capabilities
  poetry.lock
  pyproject.toml
  samples/drought_notebook_walkthrough.ipynb
  src/zyra/assets/llm/prompts/narrate/audience_adapter.md
  src/zyra/assets/llm/prompts/narrate/context.md
  src/zyra/assets/llm/prompts/narrate/critic.md
  src/zyra/assets/llm/prompts/narrate/editor.md
  src/zyra/assets/llm/prompts/narrate/summary.md
  src/zyra/narrate/__init__.py
  src/zyra/narrate/schemas/pack.py
  src/zyra/notebook/README.md
  src/zyra/notebook/registry.py
  src/zyra/swarm/memory.py
  src/zyra/swarm/planner.py
  src/zyra/swarm/spec.py
  tests/notebook/test_overlay_planner.py
  tests/notebook/test_provenance_and_overlay.py
  tests/notebook/test_registry.py
  tests/notebook/test_session_export.py
  tests/notebook/test_swarm_dry_run.py
Due: none

chore: catch Exception instead of BaseException when running coroutines in a background thread, code review fix
  src/zyra/narrate/__init__.py
Due: none

feat: add programmatic API support with workflows, manifests, and plugins
  docs/source/guides/programmatic_api.md
  docs/source/index.rst
  examples/api_and_programmatic_interface.ipynb
  samples/workflows/minimal.yml
  src/zyra/cli.py
  src/zyra/manifest.py
  src/zyra/manifest_utils.py
  src/zyra/notebook/registry.py
  src/zyra/plugins.py
  src/zyra/workflow/api.py
  tests/test_cli_help_plugins.py
  tests/test_manifest_api.py
  tests/test_manifest_utils.py
  tests/test_plugins.py
  tests/test_workflow_api.py
Due: zyra-generate-manifest

feat: enhance workflow execution with dedicated stage handling and improve manifest overlay reading, code review fixes
  docs/source/guides/programmatic_api.md
  examples/api_and_programmatic_interface.ipynb
  src/zyra/manifest_utils.py
  src/zyra/workflow/api.py
  tests/test_workflow_api.py
Due: none

feat: add programmatic API quickstart notebook for workflow and plugin usage, code review fixes
  examples/api_and_programmatic_interface.ipynb
  src/zyra/plugins.py
Due: none

feat: add programmatic API documentation and examples for workflows, manifests, and plugins, code review fixes
  docs/source/guides/programmatic_api.md
  examples/api_and_programmatic_interface.ipynb
  src/zyra/manifest.py
  src/zyra/plugins.py
  src/zyra/workflow/api.py
  tests/test_manifest_api.py
  tests/test_plugins.py
  tests/test_workflow_api.py
Due: none

feat: update programmatic API quickstart notebook and enhance plugin registration type hints, code review fixes
  examples/api_and_programmatic_interface.ipynb
  src/zyra/plugins.py
  tests/test_workflow_api.py
Due: none

feat: add workflow and manifest support for programmatic orchestration
  docs/source/guides/programmatic_api.md
  src/zyra/cli.py
  src/zyra/manifest.py
  src/zyra/manifest_utils.py
  src/zyra/plugins.py
Due: zyra-generate-manifest

feat: add tests for workflow API functionality and enhance programmatic API examples, code review fixes
  examples/api_and_programmatic_interface.ipynb
  src/zyra/cli.py
  src/zyra/manifest.py
  src/zyra/plugins.py
  tests/test_workflow_api.py
Due: zyra-generate-manifest

feat: enhance stage normalization with alias processing and add corresponding tests, code review fixes
  examples/api_and_programmatic_interface.ipynb
  src/zyra/plugins.py
  tests/test_plugins.py
Due: none

fix: prevent exceptions during plugin stage normalization fallback, code review fixes
  src/zyra/plugins.py
Due: none

feat: implement stage normalization utility and refactor related code, enhance workflow API with argument overrides in stage execution, code review changes and refactors
  samples/workflows/minimal.yml
  src/zyra/cli.py
  src/zyra/manifest.py
  src/zyra/manifest_utils.py
  src/zyra/plugins.py
  src/zyra/stage_utils.py
  src/zyra/workflow/api.py
  tests/test_manifest_api.py
  tests/test_plugins.py
  tests/test_workflow_api.py
Due: zyra-generate-manifest

chore: update documentation and sample workflow files for clarity and consistency, code review, never ending
  docs/source/guides/programmatic_api.md
  samples/workflows/minimal.yml
  src/zyra/cli.py
  src/zyra/manifest_utils.py
  src/zyra/plugins.py
  src/zyra/workflow/api.py
  tests/test_workflow_api.py
Due: zyra-generate-manifest

chore: update documentation for programmatic API, enhance clarity and examples
  docs/source/guides/programmatic_api.md
  src/zyra/manifest_utils.py
  src/zyra/plugins.py
Due: none

fix: address additional code review feedback
  src/zyra/connectors/backends/ftp.py
  tests/connectors/test_ftp_backend.py
Due: none

fix: address six code review suggestions
  src/zyra/connectors/backends/ftp.py
  src/zyra/connectors/ingest/__init__.py
  tests/connectors/test_ftp_backend.py
Due: zyra-generate-manifest
