Repository NOAA-GSL/zyra: changes, and which pre-commit hooks are due for each by the changed paths.
All: zyra-generate-manifest, zyra-update-openapi-snapshots

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: local
    hooks:
      - id: require-dco-signoff
        name: Require DCO Signed-off-by in commit messages
        entry: scripts/check_dco_signoff.sh
        language: system
        stages: [commit-msg]
        pass_filenames: true
  - repo: local
    hooks:
      - id: zyra-generate-manifest
        name: Regenerate Zyra CLI capabilities manifest
        entry: poetry run zyra generate-manifest
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^src/zyra/(cli\.py|wizard/manifest\.py|api/services/manifest\.py|visualization/cli_register\.py|processing/__init__\.py|transform/__init__\.py|connectors/(ingest|egress|discovery)/__init__\.py)$
  - repo: local
    hooks:
      - id: zyra-update-openapi-snapshots
        name: Update OpenAPI snapshot (paths + SHA256)
        entry: bash scripts/update_openapi_snapshot.sh
        language: system
        pass_filenames: false
        stages: [commit]
        files: ^((src/zyra/api/(routers/.+\.py|server\.py|models/.+\.py|schemas/.+\.py))|scripts/(dump_openapi\.py|update_openapi_snapshot\.sh))$

feat: add SSRF sanitizer for _normalize_and_validate_url and update CodeQL configuration
  .github/codeql/python-models/models.yml
  .github/workflows/codeql.yml
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

chore: update CodeQL configuration for improved analysis
  .github/codeql/python-models/qlpack.yml
Due: none

chore: update CodeQL configuration for improved analysis
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

chore: update CodeQL configuration for improved analysis
  .github/codeql/python-models/models.yml
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

chore: update CodeQL configuration for improved analysis
  .github/workflows/codeql.yml
Due: none

chore: update CodeQL configuration for improved analysis
  src/zyra/connectors/backends/api.py
Due: none

chore: update CodeQL configuration for improved analysis
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

chore: enhance CodeQL configuration and improve URL sanitization in API requests
  .github/codeql/codeql-config.yml
  src/zyra/api/routers/api_generic.py
  src/zyra/connectors/backends/api.py
Due: zyra-update-openapi-snapshots

chore: update CodeQL configuration to exclude additional SSRF false positives
  .github/codeql/codeql-config.yml
  ingress/configmap-env.yaml
Due: none

Exclude SSRF findings for specific Python modules
  .github/codeql/codeql-config.yml
Due: none

Add CodeQL model for path-injection and SSRF sanitizers
  .github/codeql/python-models/models.yml
Due: none

Add qlpack.yml for Python models CodeQL analysis
  .github/codeql/python-models/qlpack.yml
Due: none

Simplify CodeQL config by removing queries section
  .github/codeql/codeql-config.yml
Due: none

Refactor CodeQL config to streamline model loading
  .github/codeql/codeql-config.yml
Due: none

Enable debug mode in CodeQL workflow
  .github/workflows/codeql.yml
Due: none

Update CodeQL config for Python models
  .github/codeql/codeql-config.yml
Due: none

Remove sanitizer models from CodeQL config
  .github/codeql/codeql-config.yml
Due: none

Update CodeQL config to ignore certain files
  .github/codeql/codeql-config.yml
Due: none

Update API routers to enhance streaming-friendly endpoints
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/api_generic.py
Due: zyra-update-openapi-snapshots

Refactor MCP adapter router documentation for clarity and consistency
  src/zyra/api/routers/mcp.py
Due: zyra-update-openapi-snapshots

Add new files to CodeQL configuration
  .github/codeql/codeql-config.yml
Due: none

Update CodeQL config to ignore additional files
  .github/codeql/codeql-config.yml
Due: none

Rename CodeQL configuration for DatavizHub to Zyra
  .github/codeql/codeql-config.yml
Due: none

Enhance URL validation and sanitization in API fetch methods; update image build process to force rebuild for releases
  .github/workflows/manual-release.yml
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/api_generic.py
  src/zyra/connectors/backends/api.py
  src/zyra/utils/iso8601.py
Due: zyra-update-openapi-snapshots

Add lightweight JSON/dict helper function for dotted-path access, code review fixes
  src/zyra/api/routers/api_generic.py
  src/zyra/connectors/backends/api.py
  src/zyra/connectors/openapi/validate.py
  src/zyra/processing/__init__.py
  src/zyra/utils/json_tools.py
Due: zyra-generate-manifest, zyra-update-openapi-snapshots

Add HTTP utility function to strip hop-by-hop headers for enhanced security
  src/zyra/api/mcp_tools/generic.py
  src/zyra/api/routers/api_generic.py
  src/zyra/api/workers/executor.py
  src/zyra/connectors/backends/api.py
  src/zyra/connectors/discovery/api_search.py
  src/zyra/utils/http.py
Due: zyra-update-openapi-snapshots

chore: Prepare test suite for narrative pack hypothesis with necessary imports
  src/zyra/narrate/swarm.py
  tests/narrate/test_narrative_pack_hypothesis.py
Due: none

chore: Refactor SwarmOrchestrator class for improved agent management and execution flow
  src/zyra/narrate/swarm.py
Due: none

feat: Enhance CLI with custom rubric and verbosity options for improved user control
  docs/source/guides/narrate_swarm_quickstart.rst
  rubrics/stress_review.yaml
  src/zyra/narrate/README.md
  src/zyra/narrate/__init__.py
  src/zyra/narrate/swarm.py
  tests/cli/test_narrate_swarm_cli.py
Due: none

chore: Update CLI tests for swarm command to validate preset listing and rubric handling
  src/zyra/narrate/__init__.py
  src/zyra/narrate/swarm.py
  tests/cli/test_narrate_swarm_cli.py
Due: none

refactor: Update agent classes to use type hints for context parameter in run method
  src/zyra/narrate/swarm.py
  tests/narrate/test_dag_and_status.py
  tests/narrate/test_retries.py
  tests/narrate/test_swarm_rounds.py
Due: none

chore: Clean up unused imports and empty lines in narrative pack and swarm modules
  src/zyra/narrate/__init__.py
  src/zyra/narrate/swarm.py
  src/zyra/wizard/llm_client.py
  tests/narrate/test_narrative_pack_hypothesis.py
Due: none

Add pad_missing functionality and related documentation
  docs/source/api/zyra.processing.rst
  src/zyra/processing/README.md
  src/zyra/processing/__init__.py
  src/zyra/processing/pad_missing.py
  src/zyra/transform/README.md
  src/zyra/transform/__init__.py
  src/zyra/wizard/zyra_capabilities.json
  tests/processing/test_pad_missing.py
Due: zyra-generate-manifest

refactor: Improve code structure and readability in pad_missing module
  src/zyra/processing/pad_missing.py
  tests/processing/test_pad_missing.py
Due: none

test: Remove unused import check for PIL in test_pad_missing, updated code for newer versions of PIL
  src/zyra/processing/pad_missing.py
  tests/processing/test_pad_missing.py
Due: none

fix: Correctly handle image closing in pad_missing_frames function
  src/zyra/processing/pad_missing.py
Due: none
